[2020-01-28 16:29] provencher opened #3 "Fix hand bounds incorrectly computed using Controllers rather than hands"
Given that controllers emulate hands, the controller implementation currently does not properly produce bounds that make sense.

Because of this hand menus do not currently work as expected.

[2020-01-28 16:30] provencher opened #4 "Support Avatar Hands emulating hand-tracking"
Add support for avatar hands when using controllers to emulate the use of hands, when using controllers.

[2020-01-31 23:12] brendanluu commented on #4
Love this idea! Would be much faster if could still use controller as hand in editor!! Thank you for this

[2020-02-01 15:32] provencher commented on #4
Adding information here about avatar hand hierarchy
![image](https://user-images.githubusercontent.com/7420990/73594643-345a8f00-44de-11ea-9a33-a7f506687802.png)

[2020-02-01 16:46] provencher commented on #4
Progress update - Added support for initializing avatar hands.
Still working on getting hand joints properly setup.

[2020-02-02 23:44] #3 closed, assigned to provencher

[2020-02-02 23:44] #4 closed, assigned to nobody

[2020-02-02 23:45] provencher opened #7 "When hotswapping controllers and hands, pointers are not always cleared out"
Sometimes when hot-swapping controllers for hands and vice-versa, or simply losing tracking on controllers, pointer rays may persist leaving visual pollution in the scene.

[2020-02-03 16:02] provencher opened #8 "Support for haptics"
There should be haptic feedback for the following actions.

- Pointer Enter
- Pointer Exit
- Pointer Down
- Pointer Up

[2020-02-04 21:58] provencher commented on #7
Fixed by reverting MRTK to release 2.2

[2020-02-04 21:58] #7 closed, assigned to nobody

[2020-02-06 19:51] provencher opened #12 "Hand pointers never return after hand tracking is lost."
After hand is no longer tracked, and returns, the pointers never return either.

[2020-02-06 20:23] provencher commented on #12
Fixed in PR #13

[2020-02-06 20:23] #12 closed, assigned to nobody

[2020-02-06 20:24] provencher opened #14 "Add Quest performance settings to Config SO"
Quest supports various performance options. It would be good to add performance options to the quest configuration window.

[2020-02-07 12:20] lorak41 opened #15 "Hands visible but not working"
Hi, I followed your instruction and FAQ, imported the scene but still hands are not able to interact with anything. What am I possibly missing?

[2020-02-10 14:40] overvox commented on #15
I managed to make it partially work by making sure that the OVRPlugin and SDK are up-to-date.

At least one hand is working when Unity uses the following versions:

Before I updated everything after import via Oculus > Tools > Update OVR Utilities Plugin Unity logged the following versions, where I could only see the Controllers:

However, even though my hands are tracked only the right one is wor

[2020-02-11 12:16] lorak41 commented on #15
I solved my problem by using appropriate MRTK Quest profiles.

[2020-02-11 12:17] #15 closed, assigned to nobody

[2020-02-15 18:40] provencher commented on #14
Added.

[2020-02-15 18:40] #14 closed, assigned to nobody

[2020-02-20 18:42] provencher opened #23 "Proper support of velocity and angular velocity for hand tracking"
Currently hands extend the Controller abstract class in MRTK, not the BaseHand.
Controller expects the implementation to update Velocity and Angular velocity, which it does not do.
BaseHand does take care of setting these with a custom algorithm, that remains to be verified.

This data is necessary for users looking to implement throwing of objects using hand tracking.

[2020-02-24 22:07] provencher opened #26 "Fix Rendering of Avatar Hands + Controllers in Link Mode"
Oculus Link uses a different rendering path than builds for Quest, and the hand shader doesn't seem to be single pass instanced compatible.

- Replace hand shader.
- Add lighting to controller shader, as it appears very flat.

[2020-02-29 21:12] #23 closed, assigned to nobody

[2020-03-02 06:24] heyangHEY opened #29 "How to fix the keyboard interaction in the prvncherHandInteractionExamples2 scene cannot be used"
why the keyboard cannot be called out after pressing the key？

[2020-03-02 12:17] provencher commented on #29
Hi @heyangHEY. The keyboard triggered by that button is the touchscreen keyboard, which on HoloLens 2, triggers the system keyboard.

Quest does not have a system keyboard available to developers, so it cannot be used.

As of MRTK v2.3, there is now a non-system keyboard that should work with Quest, but I haven’t gotten around to testing it. To make use of it, we’d need to integrate it into the te

[2020-03-06 03:35] provencher commented on #29
@heyangHEY this was solved in 0.6

[2020-03-06 03:35] #29 closed, assigned to nobody

[2020-03-11 10:38] enes-oerdek opened #37 "Speech Input in Demo Scene"
First of all thanks for this great extension of MRTK. I love how easy it makes to use MRTK on Oculus Quest. It brings together the best of two worlds.

I am fairly new to all this. I'm currently doing some experiments with the Quest and testing out different input methods. MRTK also supports Speech Input. But for Oculus Quest I could not make it run. Since on the Readme "Full support for any inter

[2020-03-11 10:42] provencher commented on #37
@enesbil you’re right that speech doesn’t work on Quest. On HoloLens 2 this leverages Windows apis for dictation, which simply do not exist on Quest. They might however work on Rift if you re-add the speech provider in your profile. I have not tested that however.

Beyond that there aren’t any plans to properly support voice input. It changes too much from platform to platform.

[2020-03-11 10:56] enes-oerdek commented on #37
Alright, thanks alot! :)
That explains why I could not make speech input run. I will test it out for Rift, if I am successful doing it, I will let you know. I think this issue has been resolved.

[2020-03-11 10:56] #37 closed, assigned to nobody

[2020-03-12 14:33] enes-oerdek opened #38 "Duplicate LocalAvatar in Scene"
Hello again!
I might have found an issue, which could be an unexpected behaviour. The general approach for adding Oculus avatars and camera into the scene is by adding an OVR Camera Rig, and adding a LocalAvatar into "TrackingSpace" in the Camera Rig. In my specific case I needed to have it this way, because i don't want to track position of LocalAvatar and CameraRig seperately (when e.g. implemen

[2020-03-12 15:17] provencher commented on #38
Is it possible for you to put your avatar prefab in the config Scriptable Object?
It is important that the avatar prefab is instantiated nested in the OVRCameraRig.

For custom locomotion that should be supported, but you should be moving the OVRCameraRig directly.

[2020-03-13 13:36] provencher commented on #38
Don't know if you got notified @enesbil, so I'm pinging you here.

[2020-03-13 13:37] provencher opened #39 "Integrate and test support of Oculus Integration v14"
Oculus just released the V14 integration. Will have to test to make sure hand tracking joint rotations haven't changed.

[2020-03-16 09:08] enes-oerdek commented on #38
Hey provencher, excuse me for my late reply.
If you mean by config scriptable object the MRTK-OculusConfig File, I already added the MRTK-Quest-Prefabs to this. And this issue is somehow strange. I see here, that the localavatar object is added to trackingspace:
`GameObject.Instantiate(MRTKOculusConfig.Instance.LocalAvatarPrefab, cameraRig.trackingSpace);
`

But strangely, it is not. It is added i

[2020-03-17 19:31] provencher commented on #39
Resolved with PR #40

[2020-03-17 19:31] #39 closed, assigned to nobody

[2020-03-17 19:42] provencher commented on #38
@enesbil resolved this issue in https://github.com/provencher/MRTK-Quest/pull/41

- Exposed ability for devs to disable spawning of avatar prefab
- Fixed bug causing avatar prefab to not properly get nested in tracking space.

[2020-03-17 21:57] #38 closed, assigned to nobody

[2020-03-19 15:46] CubicVR opened #42 "Missing prefabs and and unlinked tooltips"
Couple of minor missing bits:
- All "PressableButtonHoloLens2ToggleRadio" prefabs are missing under "RadioGroup96x32" in "MRTK-Quest_Development" scene
- "EarthCore" object is missing tooltip links in On Manipulation events in both sample scenes.

[2020-03-19 16:35] provencher commented on #42
Thanks for your issue @CubicVR

Not the case on my end:
![image](https://user-images.githubusercontent.com/7420990/77090571-bc88eb00-69dd-11ea-82d9-95e283f130fb.png)

Th the new pressable buttons require fairly recent MRTK dev branch. If you are not using the submodule method for MRTK, this will result in missing prefabs.

This is true in the MRTK dev scene - due to the migration to ObjectManipula

[2020-03-19 16:44] CubicVR commented on #42
Thanks for the clarification on the Dev Branch and upon checking again, you are correct, 2.3 scene has tooltips set up fine.

[2020-03-19 16:44] #42 closed, assigned to nobody

[2020-03-26 16:42] AlexisAG opened #43 "CheckCapability always return true"
Actualy **CheckCapability** of **OculusQuestInputManager** always returns true when we're trying to find out if HandTracking is enabled.
[code]

So, if we want a specific behavior **without** hand tracking, this is not possible (via mrtk profile).
Maybe an _Option Enable Hand_ Tracking should be exposed in the **OculusQuestInputManager** ?

[2020-03-26 16:45] #43 closed, assigned to nobody

[2020-03-26 17:06] provencher commented on #43
The reason it's like that is because of Avatar hands.

Avatar hands are like emulated hand tracking, and they have fully mapped joints, and support poke and hand menus and everything hands do.

Also I cannot expose the settings for Hand Tracking in Oculus because the scriptable objects those settings exist in are not in the OculusVR assembly, which means MRTK-Quest cannot see them.

The only way t

[2020-04-27 17:57] provencher opened #44 "When starting a scene with controllers, dummy hands appear on controllers"
![image (4)](https://user-images.githubusercontent.com/7420990/80404178-c7615600-888e-11ea-9696-41e6c411b207.png)

" I see both controllers and OVR hands. When I put the controllers down, switch to hand-tracking and then back to using controllers, the issue goes away."

Temp workaround:
- Set confidence behavior on the OVRHand prefab to ToggleRenderer. This will bypass the MRTK-Quest confidence be

[2020-04-27 18:00] provencher opened #45 "Teleport support + example"
Currently there is no functional example for using the teleport system in MRTK.

[2020-04-30 16:39] provencher commented on #44
Fixed with v0.6.2

[2020-04-30 16:39] #44 closed, assigned to provencher

[2020-05-05 17:33] provencher opened #47 "Integration with spatial observer for simulated mixed reality scenes"
- Create hooks from MRTK-Quest to spatial observer system
- Create a virtual living room sample
- Integrate colliders in virtual living room into spatial observer system

[2020-05-06 20:22] provencher commented on #45
Nice reference sample

https://twitter.com/hmltn/status/1258116812866236418?s=21

[2020-05-10 23:55] crodriguezouterelo opened #48 "PokePointer for every finger"
Hi! Great repositorie, I have been tinkering with it for a while now.
However, I have not yet managed to make the PokePointer element work with every finger.
What am I missing? It should be easy to implement as each finger has its own skeleton with iterable names.

I have also tried to use the HandsManager prefab from the Oculus Framework along with the InteractableToolsSDKDriver. While my try fou

[2020-05-11 00:41] provencher commented on #48
Hi @crodriguezouterelo!

Thanks for reaching out about this.
Poke pointers for every finger is an interesting topic. Through personal experimentation, it’s not the best idea since you end up accidentally pressing buttons more often than it adds value.

Microsoft have done research making similar findings as well.

That said, if you feel particular strongly about the possibility of doing this, I re

[2020-05-11 00:54] crodriguezouterelo commented on #48
Hi @provencher! Thank you for your quick response.

While I can easily imagine the issues you were running into, I guess it depends on how the buttons are built (their position, size, depth...). I also find the idea of allowing the PokePointer to work with different fingers than just the index interesing (say, for example, the virtual simulation of a thumbprint).

Since you have already tried to m

[2020-05-11 13:09] provencher commented on #48
@crodriguezouterelo as far as MRTK-Quest is concerned, [here ](https://github.com/provencher/MRTK-Quest/blob/master/Assets/MixedRealityToolkit.ThirdParty/MRTK-Quest/Scripts/Input/Controllers/OculusQuestHand.cs) is where the fingertip cursor is set:
![image](https://user-images.githubusercontent.com/7420990/81565147-e7047e00-9366-11ea-9f8d-72082ed86c3a.png)

Would it help your usecase to be able to

[2020-05-12 17:17] crodriguezouterelo commented on #48
Alright, thank you for the heads up!
An enum would be nice, indeed. I guess I can get the PokePointer to follow the thumb by changing the TrackedHandJoint element, but it is always nice to have a non-coding way to change these things.

Again, thank you for your help! :)

[2020-05-18 06:50] NoviaDroid opened #49 "Outline Can not be see in vr"
When running OutlineExamples scene in quest VR,the outline effect can not be seen in VR.

![image](https://user-images.githubusercontent.com/3263368/82182393-cf089d80-9916-11ea-94fa-fb1d30871e47.png)

[2020-05-18 11:48] provencher commented on #49
Let me take a look at this!

[2020-05-18 22:28] chetu3319 opened #50 "Updating MRTKOculusConfig's Custom Hand Material runtime"
Current `MRTKOculusConfig` is a project singleton. Having an ability to update parameters of the configs enables control of the input behavior as well as visuals of the input. For example, hand material can be updated per scene based on the requirement.

[2020-05-29 21:06] provencher commented on #50
This was merged in with PR #51

[2020-05-29 21:06] #50 closed, assigned to nobody

[2020-06-07 23:43] provencher commented on #45
Completed in 1.0 release

[2020-06-07 23:43] #45 closed, assigned to nobody

[2020-06-07 23:43] provencher commented on #26
Fixed in 1.0

[2020-06-07 23:43] #26 closed, assigned to nobody

[2020-06-07 23:44] provencher commented on #48
I looked into this, and I think your feedback is better served on the official MRTK github @crodriguezouterelo. Going to close this for now.

[2020-06-07 23:44] #48 closed, assigned to nobody

[2020-06-07 23:45] provencher commented on #49
@NoviaDroid this is an issue with rendering on Android, and doesn't have much to do this repo specifically. I'd recommend opening a bug report on official MRTK and tagging Cameron Micka.

Cheers,
Eric

[2020-06-07 23:45] #49 closed, assigned to nobody

[2020-06-12 16:26] machenmusik opened #61 "Hand teleport can activate / trigger unexpectedly"
See https://github.com/provencher/MRTK-Quest/pull/60#issuecomment-642881249
and a little more detail in Slack
https://holodevelopers.slack.com/archives/CTW7K59U4/p1591902858020400?thread_ts=1591456024.474400&cid=CTW7K59U4

[2020-06-14 17:17] provencher commented on #61
Should be solved with 1.0.1

[2020-06-14 17:17] #61 closed, assigned to nobody

[2020-06-15 23:17] Ericbing opened #63 "Keep getting debug.LogError when hide/reload DcokExample objects group"
debug.LogError :
"AssertionException: Assertion failure. Value was Null
Expected: Value was not Null
When a dockable is docked, its dockedPosition must be valid.
UnityEngine.Assertions.Assert.Fail (System.String message, System.String userMessage) (at <23a7799da2e941b88c6db790c607d655>:0)
UnityEngine.Assertions.Assert.IsNotNull (UnityEngine.Object value, System.String message) (at <23a7799da2e941b

[2020-06-16 02:02] provencher commented on #63
Hi thanks for logging this issue! I think you should file it under the official MRTK repo however. I don’t maintain the code in the framework, only the Quest compatibility layer.

[2020-06-16 02:02] #63 closed, assigned to nobody

[2020-07-02 13:31] provencher opened #64 "Integrate Timewarp layers to improve text readability"
"Here is overlay docs. I use a 2nd camera(only rendering UI) outputting to a render texture. Assign the RT to the overlays texture. For main camera, set cullingmask to include overlay layer but not UI layer. This produces the sharpest text for me."
https://developer.oculus.com/documentation/unity/unity-ovroverlay/?locale=en_US

https://twitter.com/robertncoomber/status/1278671117746659328?s=20

[2020-07-08 07:52] NoviaDroid opened #66 "The hand ray can not point downwards?"
when lower my hand,the hand ray did not follow my hand direction,and disappeared instead.

Is it by design? Because it is very inconvenient  to manipulate far objects below my hand

[2020-07-08 11:26] provencher commented on #66
The hand ray pointer logic is entirely managed by the Oculus OS, and it’s designed to change modes as you use it sitting down, or standing.

Here’s a diagram of it working.
![image](https://user-images.githubusercontent.com/7420990/86912983-eaf51800-c0eb-11ea-86e0-de7bcb22c2d2.jpeg)

Unfortunately not much I can do improve this. However, it’s worth noting that having worked on custom hand rays in

[2020-07-08 11:29] provencher commented on #66
Actually - you said the ray disappears - that’s from the ray no longer aligning with your head gaze. It might be related the IsInPointingPose check. You may be able to increase the angle tolerance check, but this is the first I’ve heard of it being a problem.

[2020-07-08 13:04] NoviaDroid commented on #66
Thanks for the replay.

I'll try to tweak angle tolerance to see if it can be better.

It indeed bother me for using hand tracking feature,personally I use controller mode 90% time during developing app (based on mrtk-quest),and only 10% time use hand tracking only for show off,less accuracy and less feedback makes hand tracking hard to use.

[2020-07-08 14:22] NoviaDroid commented on #66
Hi,I followed your suggestion and made some hack to OculusQuestHand.cs to make life easier for me,here is my modification:

        public override bool IsInPointingPose
        {
            get
            {
                //simply force return true to make hand ray always show ignore rotation(didn't consider teleport case but it is ok for me)
                return true;
            }

[2020-07-08 14:41] NoviaDroid commented on #64
YES PLEASE!!!

The text from a distance can barely be seen and looks blur in quest build (compare with link mode).

Can be improved by increasing eye texture size but fps drops a lot

[2020-07-08 15:17] provencher commented on #64
There's another [fix ](https://medium.com/@bgolus/sharper-mipmapping-using-shader-based-supersampling-ed7aadb47bec)for this I've proposed to the MRTK team. It involves doing multi-sampling of texture reads. This can improve non-textmeshpro text as well as icons. It's not a full solution, but it should help with clarity in menus.

Another thing I've found can help is to increase the eye buffer (sup

[2020-07-08 15:22] provencher commented on #66
Its worth noting that if you enable pointing pose to always true, you'll run into issues with the ray during hand menus and teleport will be unusable.

Also, I highly recommend against setting the pointer pose to the grip position, as it is much less stable can can be difficult to aim in many cases.

Julia Schwarz from Microsoft spoke about this here:

Wrist based rays
https://youtu.be/Wythtg38o0M

[2020-07-08 16:41] provencher opened #67 "Integrate voice commands through mrtk speech provider"
Oculus v18 adds voice command support to the platform. It would be great to route the voice command provider through the MRTK speech recognition system.

[2020-07-09 03:26] NoviaDroid opened #68 "When starting a scene with controllers,the avatar hands are not show until about 30 seconds delay"
If uncheck "renderAvatarHandsInsteadOfControllers" in MRTK-OculusConfig, the controller model can shown instantly when start scene.

So why there is 30 seconds delay when show avatar hands? is it a oculus problem?

[2020-07-09 11:07] NoviaDroid commented on #68
![image](https://user-images.githubusercontent.com/3263368/87032516-52f44d00-c217-11ea-9cab-91cc81fd37c6.png)
the delay is caused by AvatarSpecificationCallback in OvrAvatar.cs,seems to be an oculus issue

[2020-07-09 13:14] provencher commented on #68
There's definitely a delay, but I don't think it's a full 30 seconds. That said, yeah there's nothing I can do about it.

[2020-07-09 13:14] #68 closed, assigned to nobody

[2020-07-14 10:30] martdob opened #72 "Grabing only with middle finger"
The MRTK port to Oculus hand tracking is excellent!
Now, I would like to grab a weapon and shoot with the index finger.
Since the grabbing works with the index finger the shooting is not possible.
I tried to modify QculusQuestHands.cs file. I was focusing on the   the section containing

_isIndexGrabbing = HandPoseUtils.IsIndexGrabbing(ControllerHandedness);_
and
_float indexFingerCurl = HandPoseU

[2020-07-20 20:53] provencher commented on #72
Hi @martdob.

Here are the relevant things you have to modify

IsGrabbing is queried here in the event system
![image](https://user-images.githubusercontent.com/7420990/87985324-6326ea80-caa9-11ea-994b-233236b531d1.png)

Then you should be able to simply modify IsGrabbing here
![image](https://user-images.githubusercontent.com/7420990/87985371-7c2f9b80-caa9-11ea-9929-51101a687106.png)

[2020-07-20 20:53] #72 closed, assigned to nobody

[2020-07-20 20:53] provencher commented on #66
I did some more testing, and the only time you cannot point downwards is if you try to aim with your palm directly, which is not supported.

[2020-07-20 20:53] #66 closed, assigned to nobody

[2020-08-04 19:48] provencher opened #75 "Clean up MRTK-Audio dependency"
MRTK-Audio is currently a submodule that makes it more complicated to easily package up MRTK-Quest Core, as that has a dependency on two clips from MRTK-Audio for the teleport.

TODO:
- Move the teleport and background music audio clips into MRTK-Quest Core, and add proper attribution to @joncohenproducer.
- Remove the MRTK-Audio dependency from MRTK-Quest.

[2020-08-19 09:15] Acimaz opened #84 "Error when building project"
The build process aborts with several errors. One of them is the following:

`Shader error in 'Mixed Reality Toolkit/Standard': Program 'frag', error X8000: D3D11 Internal Compiler Error: Invalid Bytecode: Incompatible min precision type for operand #1 of opcode #39 (counts are 1-based). Expected int or uint. at line 134 (on gles)

Compiling Vertex program with _DISABLE_ALBEDO_MAP _CLIPPING_BOX _R

[2020-08-19 09:23] Acimaz commented on #84
Just noticed i opened the project with 2020.1. That might be the problem.

[2020-08-19 09:44] Acimaz commented on #84
Just found the fix for this from @provencher: https://github.com/microsoft/MixedRealityToolkit-Unity/issues/6359

[2020-08-19 11:40] Acimaz commented on #84
Apparently it can work without changing the shader by hand.
Here are the steps to make it work:

1. Activate the new renderpipeline by installing URP via package manager
2. Create needed renderpipeline assets and add the reference in Project Settings -> Quality
3. Add reference to pipeline asset in Project Settings -> Graphics as well
4. Activate the XR Plug-In Management under Project Settings an

[2020-08-21 17:44] castana1962 opened #85 "Is this Project URP compatible?"
Hi, I am very excited about using this project in my VR Health project.
Since URP is very important to reduce the Calls and the FPS in the game....
For that reason, Is MRTK-Quest Project with Unity URP compatible?
or if it is not like that, Could I use in my own URP project and add the articulated hand tracking, and simulating hand tracking using controllers with avatar hands?
Thanks for your time

[2020-08-21 21:22] Acimaz commented on #85
Yes it is. I managed to make it work under 2020.1 with URP. In my last post here I explain how you can activate it properly: https://github.com/provencher/MRTK-Quest/issues/84

[2020-08-22 14:34] castana1962 commented on #85
Hi Acimaz, Thanks for the info !!! Best Regards. Alejandro

[2020-08-23 13:07] castana1962 opened #86 "How to export the Hand Tracking Teleporting feature from this MRTK-Quest to my VR own project?"
Hi Everyone.
I am building a Rehabilitation Treatments by VR Games( mainly for Oculus Quest for its mobility). I am very interested in adding the Hand Tracking Teleporting feature of this MRTK-Quest project to my own project (it would be great for that patient who has little mobility with their "hands" for your health problem and can move around the game by your hands. I guess that this feature is

[2020-08-23 13:09] castana1962 commented on #67
It would be great !!!

[2020-08-23 13:30] Acimaz commented on #85
You are welcome 👍

[2020-08-25 13:38] castana1962 opened #87 "Hand tracking feature is not working in Oculus Quest Headset....."
Hi All,
I am trying the MRTK-Quest_Development Scene through Unity and Quest by Oculus Link Cable and I saw the hand tracking feature successfully of this way, but after that; I built this one to see it in my Oculus Quest( without any Link cable). It was built "successfully". After I opened the App in my Headset and I cannot see the Hands Tracking( This feature is enable in my Quest Headset). Then

[2020-08-25 13:56] Acimaz commented on #86
Hello Castana,

yes, this is possible. I assume you already cloned the repo?

[2020-08-25 14:02] Acimaz commented on #87
Hey castana,

this is because the camera prefab which is used for MRTK Quest hast set the hand tracking support to hands and controller or just controller.

If you want to start the app without controller at all you have to change this setting. Inside unity search for the asset "camerarig". Unity will show you two results. Go ahead and change the setting on those assets inside the OVRManager to "H

[2020-08-25 14:20] castana1962 commented on #87
Hi Acimaz,
Thanks for your help one more time and sorry for my mistake
Regards
Alejandro

[2020-08-25 14:25] castana1962 commented on #86
Hi again
Yes, I did.
I guess that  MRTK-Quest_Development Scene is the correct one, right?
Could you say me what is the game object to the games object what I should export like unitypackage to add the Hand Tracking feature to my own VR project? or if you know some better way, please let me know it.
Thanks for your help
Regards
Alejandro

[2020-08-25 14:30] Acimaz commented on #87
No need to be sorry. You are welcome!

[2020-08-25 14:38] Acimaz commented on #86
What i did was to first call the "createSymlink.sh" script inside the MRTK-Quest/Assets/External folder in your repo. Or when you are on windows the .bat. After that I copied the folders "Assets/MixedRealityToolkit.Generated", "MRTK", "MRTK.ThirdParty" and "Resources" over in my private project.

There may be another better way by symlinking stuff over to your private project or using git submodul

[2020-08-25 14:53] castana1962 commented on #86
Hi Acimaz,
Sorry my ignorance and my little English :)
Should I execute the .bat file again? or if I have these folder in my Unity projects, Could I copy them to my own Unity project?
Thanks for your time
Alejandro

[2020-08-25 14:57] Acimaz commented on #86
No problem, your english is good 👍

If you executed the .bat already you can just copy these folders, yes. The .bat just creates a symbolic link from the External/MRTK folder to the Assets/MRTK folder.

[2020-08-25 17:47] castana1962 commented on #86
Thank you Acimaz !!!

[2020-08-26 16:13] JShull opened #88 "BaseControllerPointer.cs Error Quest MRTK or MRTK?"
## Null Reference Exception

* I think this is a joint issue with general MRTK but I realized that it's activated by OculusQuestInputManagers.cs which is MRTK-Quest related.

### Steps to Reproduce

* While tethered to the PC running Oculus Link in Unity's Editor
* This only seems to happen when I go from a transition between pulling the headset up on my head and pulling it back down while simulta

[2020-08-27 10:07] Alexees opened #89 "MRTK-Quest_Mixer seems to require Resonance Audio Renderer"
While the plugin seems to be pretty cool, development for it has stalled for 2 years now and issues concerning Unity 2019 and 2020 area appearing.
the reference should be removed.

[2020-08-27 11:26] castana1962 commented on #86
Hi Acimaz,
Good morning.
Sorry to bother you and my daring for this but I copied the folders that you told me and Unity "Crashed"╭( ◕﹏◕ )╮, for that reason, and since that your one works fine, Could you share it with me? I remember that this one is in URP, Would it be possible?
Thanks for your help
Regards
Alejandro

[2020-08-27 14:32] Acimaz commented on #86
Hey Castana,

I can't do that with my main project because it's a project for our company (we are developing treatments for hand as well). However, I think I know what's causing the issue. In your copied MRTK folder, is there another MRTK folder which does not show up in unity? I had a similar issue because the symlink script created another symlink inside this MRTK folder which caused a recursive

[2020-08-27 14:33] Acimaz commented on #86
![image](https://user-images.githubusercontent.com/3418387/91455856-e397f280-e882-11ea-9b82-354d60ef1248.png)

For me this folder had another folder called mrtk in it which was loading and loading. Just delete that and it should work fine. MRTK/MRTK folder.

[2020-08-27 20:56] castana1962 commented on #86
Hi Acimaz,
I will try it !!
Thanks
Alejandro

[2020-08-28 15:01] provencher commented on #88
As you mentioned, this is a bug report for MRTK, not for MRTK-Quest. Please file that report on their github.

If you have a fix that can avoid it on MRTK-Quest without touching the MRTK code, I'm open to that, but there's not much I can do otherwise. Thanks.

[2020-08-28 15:01] #88 closed, assigned to nobody

[2020-08-28 15:05] provencher commented on #89
The mixer was used mainly for some experimental SFX stuff I worked on, and I believe the background music which isn't spatialized.
Feel free to not use the mixer in your project, though I appreciate you making note of this issue.

[2020-08-28 15:05] provencher commented on #87
Thanks for helping resolve this @Acimaz

[2020-08-28 15:05] #87 closed, assigned to nobody

[2020-08-28 15:08] provencher commented on #86
@castana1962 you don't need to clone this repo to make use of the features.

Follow the instructions for installing MRTK by Microsoft, and then install the unity packages in this release.
https://github.com/provencher/MRTK-Quest/releases/tag/v1.1.0

Alternatively, I have a sample project setup with everything and you can copy paste what you need from there.
https://github.com/provencher/MRTK-Quest

[2020-08-28 15:08] #86 closed, assigned to nobody

[2020-08-28 15:10] provencher commented on #84
This error is resolved by the fix you mentioned @Acimaz - URP is indeed another solution, thanks for writing it out.

[2020-08-28 15:10] #84 closed, assigned to nobody

[2020-08-28 15:10] provencher commented on #75
Resolved

[2020-08-28 15:10] #75 closed, assigned to nobody

[2020-08-28 15:11] provencher commented on #85
Thanks for linking your solution @Acimaz - MRTK does have an automatic updater for LWRP which I believe also works with URP.
If it works with MRTK and Android, it'll work with MRTK-Quest - nothing special about this project, except for the hands material which is a custom shader.

The MRTK-OculusConfig scriptable object has a slot to change the material there, so feel free to replace it with a URP

[2020-08-28 15:11] #85 closed, assigned to nobody

[2020-08-28 17:43] castana1962 commented on #86
Hi @provencher
First, thanks for letting me get the MRTK-Quest-Sample.
Sorry for my ignorance, but my own Unity VR project uses Oculus Integration plugin to do the most VR Interactions.
Although you told me that the teleport feature is not a special one on your MRTK project, What I should do to integrate only the Customized Teleport pointer for teleporting locomotion to hand tracking and touch con

[2020-08-28 17:55] provencher commented on #86
@castana1962 this is an MRTK extension that leverages the oculus sdk for basic input, and MRTK for interactions.

I'm sorry to tell you that if you want to get rid of MRTK and just use Oculus integration I don't have an explanation to add the teleport feature, it's all very coupled and complicated.

Either you use MRTK and MRTK-Quest, and you have the teleport gesture, or you build your own telepo

[2020-08-28 18:18] castana1962 commented on #86
Hi @provencher,
Please, it is not my intention that you change your project or take out MRTK.
I only mentioned that mine is developing with a different VR plugin and adapt it from the Start to MRTK would be very complicated for me. I only asked you if it was possible to only take that hand tracking interactivity and if so, What would be the Game objects that I should integrate into my own project?

[2020-08-31 08:59] Alexees opened #90 "Insufficient Controller mapping"
The current mappings for the motion controllers are insufficient:
[code]

should be more like:
[code]

The controller could additionally be derived from GenericJoystickController, which handles most of the axisTypes already.

[2020-08-31 12:49] Alexees opened #91 "Hand detection errors in different places"
When detecting and losing hands, I receive about 3 different errors completely at random.
In the MRKT-Quest_BasicSetup scene I randomly get spammed with this because the Controller is null:

[code]

Since I am not using the shipped but the official teleport pointer. That one is also causing two errors every now and then:
[code]

This is because the FocusProvider does not have the requested pointer

[2020-08-31 12:52] provencher commented on #91
I forwarded your feedback to the MRTK folks. As for the teleport issues, the official pointer is not designed for hand tracking and the way to get it working is a hack, so I genuinely advise against using it over the custom one.

Beyond that, the custom teleport pointer has a number of usability improvements, including audio, stabilization and improved responsiveness, in addition to having a curso

[2020-08-31 12:53] Alexees commented on #91
Is it possible to extend the reach of the custom one. That was the main reason I was not using it

[2020-08-31 13:00] provencher commented on #91
Yeah I think all you'd have to do is adjust the ballistic angle. There's a limit to how far it can go from the parabolic math, but I'm sure you   could extend the range.

[2020-08-31 13:38] provencher commented on #90
Yes I'm aware the controller definition doesn't fully map to the controller, though the reason for this is that there several checks for interactions that rely on Articulated hands to function, like hand menus, also the Poke pointer would need to be added.

I've spoken to microsoft about making the articulated hands definition extensible, but that's not currently possible with 2.4.

[2020-08-31 18:47] keveleigh commented on #88
This feels like a bug in the implementation here. I can't recall seeing this case in any of the MRTK-defined device managers, but maybe we have a race condition that only shows up in a specific case.

~Why would the source be lost (or maybe back-to-back found and lost) when the headset is pulled back down? It seems like hand tracking should be successful at that point.~

I think that might be a re

[2020-08-31 18:48] keveleigh commented on #88
All that being said, I'm not fully against just adding that null check to fix things, but it feels like it might be hiding either an invalid set-up or a case we need to explicitly handle another way (recycled pointers that are still getting events but shouldn't be? not sure)

[2020-08-31 18:50] JShull commented on #88
Let me try removing that null check and dump you the full log and see if that helps - will add this towards my items for tomorrow and will follow back up to provide the best information I can.

[2020-08-31 19:02] keveleigh commented on #88
@JShull Appreciate it!

[2020-08-31 23:56] ValemVR opened #92 "Hand Interaction Pan Zoom not in good direction"
Hi, it seems like the movement of the pan is inverted in the Hand Interaction Pan Zoom component. (move uv up and down when going left right with the hand)
I was able to get this fixed by changing line 373 of the script from :

`Vector2 uvDelta = new Vector2(totalUVOffset.x, -totalUVOffset.y);`

to

`Vector2 uvDelta = new Vector2(-totalUVOffset.y, -totalUVOffset.x);`

Will do some further testing

[2020-09-02 07:40] JShull commented on #88
Here's what I noticed:

The error throws three times - all point to the same BaseControllerPointer.cs Line 475, but the second error of the three has a slightly different path, right before BaseControllerPointer.cs it is coming from PokePointer.cs 460... is this the missing path?

Here's the updated images from Unity on the NullReference Exception (this time all three of them)

![image](https://us

[2020-09-07 08:36] YugiyO opened #93 "Videoplayer rensers only black texture."
Hello, thank you so much for a great toolkit. I try to play the video as a tutorial for my app but in the built the player render only the black screen with video audio. Do it need any additional setting to play the video? Thank you in advance.

[2020-09-09 12:54] Alexees commented on #91
@provencher I could not find the issue for this on one MRKT git issue page, but I created another, maybe related or the same.
https://github.com/microsoft/MixedRealityToolkit-Unity/issues/8429

[2020-11-19 10:11] MatiasBrunacci opened #95 "Connect with PUN2"
Just thinking louder here, but it would be soooo cool to have this running with PUN2 + Voice chat.
This would mean a super functional VR multiplayer framework.
Would you please consider adding this feature in the future?

[2020-11-19 12:24] Klendat opened #96 "Grabbed objects with physics stutter badly in the demo"
Objects that have rigidbody physics (the coffee cup, the cubes etc.) stutter badly when they're grabbed and moved. The stuttering disappears when I let go of the object and it just falls to the floor smoothly.

The objects that don't have any physics are fine when grabbed. The floaty coffee cup that doesn't have gravity moves smoothly when manipulated.

Interestingly enough it isn't very noticeabl

[2020-11-19 17:59] provencher commented on #92
@ValemVR I'm curious if this issue is still present for you in 1.2 - I regenerated the pan example prefab based on the one in the source hand interaction scene, and it seems fine on my end.

[2020-11-19 18:00] provencher commented on #93
Sorry I didn't get to this. I read about the video player having issues on Quest, and it seems to be related to render texture issues.
This is a larger issue than with MRTK-Quest however, and I recommend filing a bug report with Unity about it if you can.

[2020-11-19 18:02] provencher commented on #95
Appreciate the feedback, though I won't be adding PUN support to this project.

I might be updating this repo with Normcore support however. Right now it uses an older version of normcore and MRTK, but it should give you a baseline understanding for setting up multiplayer.
https://github.com/provencher/MRTK-Online

[2020-11-19 18:02] #95 closed, assigned to nobody

[2020-11-19 18:04] provencher commented on #96
Hmm I'll report this to the MRTK folks. I believe it's a problem with the Object Manipulator's logic around physics, along with the Oculus V23 activating 90 Hz across the board.

Could you try changing the fixed timestep time in your Unity project settings to 1/90, to see if the issue persists?

Cheers!

[2020-11-20 11:22] Klendat commented on #96
Yeah that seems to be the issue. I changed the fixed timestep to 0.011 and now the grabbed object motion is smooth.

[2020-11-26 17:30] provencher commented on #95
FYI I updated MRTK-Online this morning - give it a try!

[2020-11-27 12:09] MatiasBrunacci commented on #95
@provencher OMG OMG OMG!! such a good news! I'll try it right away! thank you so much for doing this!

[2021-01-29 15:22] FFSchier opened #97 "NearInteraction with PokePointer on Quest-Controller"
Hi Eric,
I know this project is "discontinued", but I'm rather asking for advice, than pointing out issues.
Your project is pretty much the only one that I could find where the hands "PokePointer" also follows the index finger if controllers are being used. And it's the only one, where the hand menu opens if used with controllers (HandConstraintPalmUp).
Both are things that are pretty neat, but I

[2021-01-29 16:35] provencher commented on #97
Thanks for the kind words! I'm glad this project is helpful to you :)

First. to get the project setup with controllers working with hands, you need to use the MRTK Quest device manager. If you're on MRTK 2.5, you might be using the Oculus Device Manager in your profile, which does not support using controllers as articulated hands. I would check your profile to make sure it matches the ones in th

[2021-01-29 16:53] FFSchier commented on #97
Thanks for both!
And a clean solution for getting the hands articulated and all the resulting MRTK "benefits". Thanks so much! Hope to be able to test things out this weekend.

[2021-01-29 16:53] #97 closed, assigned to nobody

[2021-02-27 10:43] FFSchier commented on #97
Sweet! Only got to use it now, but seems to work seamlessly!
Only have to go through the profiles now to compare them to my custom one to restore all my changes - but **thanks a lot** - this is excellent!

[2021-02-27 16:04] provencher commented on #97
Glad it works for you :)

[2021-03-14 10:45] stychu opened #98 "Deprecated?"
Is this repo abandoned already? Are there any plans of updating to the latest MRTK release??

[2021-03-15 20:32] provencher commented on #98
It's not fully abandoned, but I don't actively maintain it now that Microsoft has moved official support of Oculus into their own repo, using MRTK-Quest code. I'll look into updating this repo at some point, but it's not a high priority for me.

[2021-03-29 15:03] AzadNezamdoust opened #99 "Camera always start from (0,0,0) position."
Camera always start from (0,0,0) position. In xr interaction toolkit it is based on the local position of the parent gameobject of the camera but here it s overriden by the main position so I can't move user to start from a specific point of the scene.
I could n't find a way to do it. Also I want to create snap teleportation points so i need some control over it.

[2021-03-29 15:47] provencher commented on #99
Have you tried moving the playspace root?

[2021-03-30 09:58] AzadNezamdoust commented on #99
Yes I did at start of the experience camera moves to the 0,0,0 in world space and ignores the plays pace game object transform.

[2021-03-30 09:59] AzadNezamdoust commented on #99
Yes I did at start of the experience camera moves to the 0,0,0 in world space and ignores the playspace game object transform.

[2021-04-02 18:19] AzadNezamdoust commented on #99
Help please.

[2021-05-06 15:36] SabinMGeorge opened #100 "Mutliple trigger events from single Pinch Geusture"
When interacting with the far pointer on UI buttons or MRTK buttons (in hand mode), single pinch action results in multiple OnClick events triggering. Is there anything I am doing wrong? Near interactions works fine as expected.

I am using Unity 2021.03.01f and the following submodules
Oculus Integration 28.0
Mixed Reality Toolkit v2.6
Oculus XR Plugin 1.8.1

[2021-05-10 14:11] provencher commented on #100
Hi Sabin, I'd report this issue with MRTK, as it's an issue with their far pointer, rather than with the MRTK-Quest integration, which has not been tested with your setup, and is not actively supported.

https://github.com/microsoft/MixedRealityToolkit-Unity/issues

[2021-05-10 14:11] #100 closed, assigned to nobody

[2021-07-21 08:47] davoodkharmanzar opened #101 "Provide git Package"
hi dear,

thanks for this awesome :]
but it would be great if provide this as Package that be able to adding by Package Manager as git url.

[2021-07-25 17:12] davoodkharmanzar opened #102 "Does it compatible with latest MRTK??"
hi,
seems that it isn't compatible with latest MRTK

[2021-07-26 04:39] #102 closed, assigned to nobody

[2021-07-26 04:39] #101 closed, assigned to nobody

[2021-11-02 15:07] jcellswo opened #103 "Objects Leave Hand When Head Moves"
When you grab an object and move it toward or away from your face, it drifts out of your hand. We have posted [this issue](https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10198) on the MRTK Github page but they have not responded. We've tried many Unity and MRTK versions, including the newest ones. It makes grabbing objects very inaccurate but doesn't appear to be a limitation of the

[2021-11-02 15:16] provencher commented on #103
Sorry your not getting answers there, though this is indeed an MRTK issue, not much I can help with on the MRTK-Quest front, sorry.

[2021-11-02 15:16] #103 closed, assigned to nobody